<div class="container mt-3">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" *ngFor="let taskStatus of statuses">
            <a class="nav-link" [class.active]="taskStatus.value === activeStatus" (click)="activeStatus = taskStatus.value" role="tab" aria-controls="pills-home" aria-selected="true">
                {{taskStatus.title}} <span class="badge">{{getStatusCount(taskStatus.value)}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" (click)="onCreate();" role="tab" aria-controls="pills-home" aria-selected="true">
                <i class="fas fa-plus"></i> Create
            </a>
        </li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-home-tab">
                <div *ngFor="let row of getRows(activeStatus, models, 3)" class="row mt-3">
        
                    <div *ngFor="let task of row" class="col-md-4 mb-sm-8">
                        <div class="card">
                            <div class="card-header">
                                {{task.title}} 
                                <div class="card-header-actions">
                                    <span (click)="onCreate(task);" title="Edit"><i class="fas fa-edit"></i></span>
                                    <span (click)="onDelete(task);" title="Delete"><i class="fas fa-trash"></i></span>
                                    <span (click)="onAttach(task);" title="Add User"><i class="fas fa-user-plus"></i></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {{task.description}}
                                </p>
                                <div>
                                        <span *ngFor="let label of task.labels" class="badge badge-pill mr-1" 
                                            [style.background-color]="label.hexColor">
                                            {{label.title}}
                                        </span>
                                    </div>
                            </div>
                            <div *ngIf="task.users && task.users.length > 0" class="card-footer padding-0">
                                <h6 class="text-center pt-2 pb-2">Users</h6>
                                <ul *ngFor="let user of task.users" class="list-group list-group-flush">
                                    <li class="list-group-item">{{user.firstName}} {{user.lastName}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                </div>
        </div>
    </div>
</div>
