.form-group {
    display: flex;
}

.card .card-header-actions {
    float: right;
}

.card .card-header-actions .fa-edit {
    color: #007bff;
}

.card .card-header-actions .fa-trash {
    color: #dc3545;
}

.card-footer.padding-0 {
    padding: 0;
}

.card-footer.padding-0 .list-group-item {
    background-color: rgba(0, 0, 0, 0.03);
}