<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'/'">WebAPI Test App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="menuOpened = !menuOpened">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [class.show]="menuOpened">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [class.active]="isActive('/')">
                <a class="nav-link" [routerLink]="'/'" >Tasks <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [class.active]="isActive('/labels')">
                <a class="nav-link" [routerLink]="'/labels'" >Labels</a>
            </li>
            <li class="nav-item" [class.active]="isActive('/users')">
                <a class="nav-link" [routerLink]="'/users'" >Users</a>
            </li>
        </ul>
    </div>
  </nav>

<router-outlet></router-outlet>

<footer class="footer-widgets">

    <div class="copyright">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <small class=""><a>Nikita Matusevich © 2018</a></small>
                </div>

                <div class="col-sm-6">
                    <small>
                        <a href="javascript:void(0)" (click)="scrollToTop(1000);" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a>
                    </small>
                </div>

            </div>
        </div>
    </div>

</footer>