<div class="container mt-3">

    <div>
        <button class="btn btn-primary" (click)="onCreate();">
            <i class="fas fa-plus"></i> Create
        </button>
    </div>

    <div *ngFor="let row of getRows(models, 3)" class="row mt-3">
    
        <div *ngFor="let label of row" class="col-md-4 mb-sm-8">
            <div class="card">
                <div class="card-header" [style.background-color]="label.hexColor">
                    {{label.title}} 
                    <div class="card-header-actions">
                        <span (click)="onCreate(label);" title="Edit"><i class="fas fa-edit"></i></span>
                        <span (click)="onDelete(label);" title="Delete"><i class="fas fa-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let task of label.tasks" class="list-group-item">
                        {{task.title}}
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
