<div class="container mt-3">

    <div>
        <button class="btn btn-primary" (click)="onCreate();">
            <i class="fas fa-plus"></i> Create
        </button>
    </div>

    <table class="table mt-2">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Position</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getItems(models); let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.position}}</td>
                <td>
                    <button (click)="onCreate(user);" class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button (click)="onDelete(user);" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
